<div class="container" *ngIf="addForm">
    <form [formGroup]="addForm">
        <div class="form-group">
            <label>FirstName</label>
            <input type="text" class="form-control" formControlName="firstName">
            <div *ngIf="addForm.controls['firstName'].errors" class="invalid-feedback">
                <div *ngIf="addForm.controls['firstName'].errors['required']">firstName is required</div>
            </div>
        </div>

        <div class="form-group">
            <label>lastName</label>
            <input type="text" class="form-control" formControlName="lastName">
            <div *ngIf="addForm.controls['lastName'].errors" class="invalid-feedback">
                <div *ngIf="addForm.controls['lastName'].errors['required']">lastName is required</div>
            </div>
        </div>

        <div class="form-group">
            <label>date Naissance</label>
            <input type="date" class="form-control" formControlName="dateNaissance">
            <div *ngIf="addForm.controls['dateNaissance'].errors" class="invalid-feedback">
                <div *ngIf="addForm.controls['dateNaissance'].errors['required']">date Naissance is required</div>
            </div>
        </div>

        <div class="form-group">
            <label>Gender</label>
            <div *ngIf="addForm.controls['gender'].errors" class="invalid-feedback">
                <div *ngIf="addForm.controls['gender'].errors['required']">Gender is required</div>
            </div>
            <select formControlName="gender" class="form-select">
                <option [ngValue]="null" disabled>Select Your Gender</option>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
              </select>
        </div>


        <button class="btn btn-outline-success" [disabled]="addForm.invalid"
            (click)="createStudent()">Enregistrer</button>
    </form>
</div>